footer.footer {
	background-color: rgb(59, 12, 12);
	margin-top: 2rem;
}

footer.main-footer {
	background-color: rgb(59, 12, 12);
}

.foot-txt ul > li {
	padding: 10px 10px;
	padding-top: 15px;
	font-size: 15px;
	list-style: none;
	color: #fff;
}

.social ul {
	padding-left: 55%;
}

.social ul > li {
	list-style: none;
	float: left;
	padding: 10px 15px;
	font-size: 20px;
	color: #fff;
}

.social ul > li >  a {
	color: #5bc0de;
}

.social ul > li >  a:hover {
	color: #fff;
}

