.cont{
    margin-left: 18%;
    max-width: 70;
    
  }            
    input{
      width: 65%;
    }
    input[type=text]{
      padding: 6px 12px;
      border-radius: 4px ;
      box-sizing: border-box;                
      border:1px solid #ccc;
      
    }
    input[type=password]{
      padding: 6px 12px;
      border-radius: 4px;
      box-sizing: border-box;
      border: 1px solid #ccc;
    }
    img{
      margin-left: 84px;
    }   